[2019-01-09 12:10] pyr0ball opened #1 "Address Arduino Code for Auto-Adjust VRef"
Current code for adjusting the comparator stage voltage reference is broken. Need to rework the code for adjusting the resistor ladder, or switch to using PWM + LPF

[2019-01-09 12:53] pyr0ball commented on #1
Original resistor ladder functionality has been verified working. Possibly will still move to pwm/dac for more grainular control

[2019-01-09 12:57] pyr0ball opened #2 "Serial input to select sensor profile"
Conceptual feature enhancement:

User can send a command over serial to have the AVR self-configure for a specific kind of piezo sensor, alter voltage range thresholds, etc.

Needs:
 - Acceptable voltage ranges for specific piezo sensors
 - Suggested models / BOM
 - Compatibility request list

[2019-01-10 00:06] pyr0ball opened #3 "Arduino Code is too large for Atmega48 (88+ is ok)"
Current sketch uses 5900 bytes, well over the 4kb limit of the mega48.

Refactor using low-level code will be required to fit the sketch on the smaller flash size, or switch to mega88+ may be required

[2019-01-10 00:18] pyr0ball opened #4 "Add support for alternate temperature sensors"
Incorporate circuits for K-type thermocouples and PT100 sensors:

Requires addition of a 4th amp to the circuit. Options:
 - MCP6001 can be switched out for a second LM358.
 - Amp could be installed at the control board side
 - Stack an additional board on top of first using standoffs
   - requires pogo pads or other means by which to connect the boards together, or alternatively a second FFC

[2019-01-10 00:20] pyr0ball opened #5 "Multiple Extruder support"
For printers with dual+ extruders, a new design will be needed. Options:
 - Single board, more I/O, larger FFC cable
 - Stacked second board, additional FFC cable in parallel

[2019-01-10 00:25] pyr0ball opened #6 "Board / Piezo mounts for other printers"
At the moment the only mount I've designed is for the only printer I have one of these installed on. I do have access to a CR-10, Tevo Tarantula, and Davinci Jr, however and will be designing mounts for each of them.

I would also welcome help from the community on this part!

[2019-01-15 04:04] pyr0ball opened #7 "Rewire auto adjust ladder to R-2R configuration"
On advice from a user on reprap forums (dc42) I will be increasing the adjustment ladder resolution by switching from it's current configuration (series ladder) to an [R-2R parallel ladder configuration](https://www.tek.com/blog/tutorial-digital-analog-conversion-r-2r-dac).

This will increase the number of possible values from 5 to 16 using the same number of pins. It should also allow for simpli

[2019-01-21 23:12] pyr0ball opened #9 "USB-Serial programmer board needs DTR pin to program over serial"
Original schematic for this board does not include some required pins. The 20qfn version of the CP2102 does not have a DTR pin required to send proper reset signal to the AVR during programming.

Need to switch to 24qfn or 28qfn and add a couple of extra passive components

References:
http://forum.arduino.cc/index.php?topic=180861.0
![image](https://user-images.githubusercontent.com/8482805/51503

[2019-01-21 23:43] #9 closed, assigned to pyr0ball

[2019-01-23 23:30] pyr0ball opened #10 "Hole spacing on Prusa/Anet mount is too small"
When I started rebuilding this mount in Fusion360, I mis-measured the hole spacing as 21mm square from center to center, when in fact the spacing is 23mm (when using the Toranado and a few other more common mounts)

[2019-01-25 19:48] pyr0ball commented on #10
Confirmed fixed in latest version. Closing

[2019-01-25 19:48] #10 closed, assigned to pyr0ball

[2019-01-25 19:50] pyr0ball opened #11 "Prusa/Anet Mount needs bearing insert channel"
Currently when attempting to insert the LM8UU size linear bearings into the upper mount slots, there is not enough tolerance to get them in. I'll need to build in a channel/cutout to give them enough space to be installed

[2019-01-26 00:46] pyr0ball opened #12 "Add overvoltage / reverse voltage protection"
Currently there is a reverse voltage protection diode onboard, but more in-depth analysis will be needed to ensure all voltage entry points are covered.

Currently there is a 0ohm resistor in place of a fuse, but to complete the overvoltage protection, a zener diode is required. [Example](http://www.learningaboutelectronics.com/Articles/Overvoltage-protection-circuit.php)

A quick rough search tur

[2019-01-27 18:22] pyr0ball commented on #6
Created mounts for Creality/Tevo/TronXY style printers:

https://github.com/pyr0ball/pyr0piezo/commit/4a4e316b678f6dd5683fc359e78761ef9165db80

[2019-02-05 18:33] pyr0ball commented on #12
Fixed standalone board in https://github.com/pyr0ball/pyr0piezo/commit/79da9c6468af9ee90bc09aca5c1727b394169f21

[2019-02-05 18:35] pyr0ball commented on #12
fixed in https://github.com/pyr0ball/pyr0piezo/commit/7885a101cf0be66efc169e2876df145f5937da05

[2019-02-05 18:35] pyr0ball commented on #12
Accidental closing of wrong issue

[2019-02-05 18:35] pyr0ball commented on #11
Tested and fixed with https://github.com/pyr0ball/pyr0piezo/commit/7885a101cf0be66efc169e2876df145f5937da05

[2019-02-05 18:41] pyr0ball opened #13 "Current LDO on standalone does not supply enough power when only getting 5v input"
When the standalone unit is supplied 5v on it's main input, the AVR does not get activated due to low voltage dropout. LDO appears to be responsible, as it requires 6v or more to work properly

[79L05 Datasheet](https://www.ti.com/lit/ds/symlink/lm79l.pdf)

[2019-02-05 23:11] pyr0ball commented on #13
Options for fixing this issue:

1. Add a bypass jumper pad which will allow the end user to solder a bridge, bypassing the voltage regulator and allowing the control board's 5v to power the sensor
2. Replace the regulator with an LDO regulator at the same current value (max theoretical for the circuit @ 100mA), that can handle 5v input as well as higher (costs 5x as much as the current one)
3. Rep

[2019-02-08 11:13] pyr0ball commented on #13
Added bypass jumper for now.

https://github.com/pyr0ball/pyr0piezo/commit/0b4e0d56df621e5de7ac43b4e4eb7d8816ab22f7

Additional testing required to determine circuit's overall current draw

[2019-02-08 21:03] pyr0ball commented on #11
Bearing channel needs to be adjusted. Current version causes binding on Drylin bearings due to  lack of support on one side

[2019-02-11 19:18] pyr0ball opened #14 "ToDo: Create PCB assembly documentation"
Documents for PCB assembly are needed:

- [x] DXF simplified drawing of PCB components, front/back
- [x] component type/value list
- [ ] recommend assembly order
- [ ] PCB reflow thermal profile
- [ ] initial programming / bootloader install
- [x] firmware update procedure
- [x] Marlin Configuration Guide
- [ ] Repetier Configuration Guide
- [ ] RRFW Configuration Guide
- [x] Connection / hookup G

[2019-02-11 22:03] pyr0ball commented on #2
Commit https://github.com/pyr0ball/pyr0piezo/commit/118e8cf7e0f64ea669cd7298c0c62c95fe758189 opens up enough pins to create a serial communication channel back to control board

[2019-02-11 22:04] pyr0ball commented on #4
Added PT100 sensor in https://github.com/pyr0ball/pyr0piezo/commit/76f6987b55c771b7c4459a42ef5a0f13f37648e0

[2019-02-12 19:32] pyr0ball commented on #1
Possible code for 10-bit pwm DAC: https://www.avdweb.nl/arduino/adc-dac/fast-pwm-dac

[2019-02-13 00:37] pyr0ball commented on #1
After testing, no need for 10-bit, analog write works just fine with proper filtering.

Testing (experimentation) shows best frequency response and smoothing (+7mV / -12mV) is achieved with:

10k resistor
3.3uF + 10uF SMD ceramic capacitors

![image](https://user-images.githubusercontent.com/8482805/52677447-b7a45e80-2ee2-11e9-9f69-b95deaa4a177.png)

![image](https://user-images.githubusercontent.

[2019-02-13 00:43] pyr0ball opened #15 "Wire V_FOLLOW and Comparator for PWM + LPF adjustment"
This is one part of the solution to https://github.com/pyr0ball/pyr0piezo/issues/1

Experimentation shows PWM DAC is a decent alternative to using the linear resistor ladder for VRef adjustment. Wiring will be fairly straightforward, as shown in the example below:
![image](https://user-images.githubusercontent.com/8482805/52678017-110d8d00-2ee5-11e9-855b-768524916527.png)

Experimentation showed t

[2019-02-13 00:46] pyr0ball opened #16 "Wire Gain Amp for series resistor ladder"
This is a part of the solution to https://github.com/pyr0ball/pyr0piezo/issues/1

Gain for the circuit can be made adjustable by reassigning the linear resistor ladder currently used by the VRef adjustment to the Gain Amp voltage divider.

The current amplification factor is 3, (10k/3.3k), but several values can be created using this topology. I will need to build a test circuit and run some exper

[2019-02-13 00:48] pyr0ball commented on #7
Closing this issue as I've elected to use the arduino PWM output as VRef adjustment: https://github.com/pyr0ball/pyr0piezo/issues/15

[2019-02-13 00:48] #7 closed, assigned to pyr0ball

[2019-02-13 08:08] pyr0ball commented on #6
Received a request from a user to build a mount for the [HyperCube Evo](https://www.thingiverse.com/thing:2937693)

[Additional possible source files](https://www.thingiverse.com/thing:2617424)

[2019-02-15 05:52] pyr0ball commented on #13
After building more units and setting the "brown-out-detection" fuses to 2.7v, this issue has disappeared. Apparently I goofed and set the brownout detection to 4.5v which was the source of the problem

[2019-02-15 05:52] #13 closed, assigned to pyr0ball

[2019-02-15 07:32] pyr0ball commented on #14
Added documentation in commits:
https://github.com/pyr0ball/pyr0piezo/commit/1d17a8dbc9c0e2c366f647574b28ad20244343db
https://github.com/pyr0ball/pyr0piezo/commit/e2399797b8cc4d5ed9e25f0dfded744ae7c06701

[2019-02-15 20:23] pyr0ball commented on #15
Started on https://github.com/pyr0ball/pyr0piezo/commit/2226025830b979959ceab5072745ae53b767f4f4

[2019-02-15 20:24] pyr0ball commented on #16
Started work in https://github.com/pyr0ball/pyr0piezo/commit/2226025830b979959ceab5072745ae53b767f4f4

[2019-02-15 20:25] pyr0ball commented on #16
Since all of these resistors are now the same value, I'll look into replacing individual resistors with a network package

[2019-02-15 20:53] pyr0ball commented on #14
Added PDF exports of all schematics used in boards that have been fabricated: https://github.com/pyr0ball/pyr0piezo/commit/c462b0a3dc5661c0f24a280ded8cff5d5fa49069

[2019-02-19 01:30] pyr0ball opened #17 "Z-Probe sensor output is Active High, should be active low for safety"
The sensor's current firmware is using active-high logic for z-min triggering. For safety, this logic should be inverted as a frayed wire or other connection issue will be apparent and the printer will refuse to move, rather than missing a high signal and causing a head crash or other damage

[2019-02-19 01:45] #17 closed, assigned to pyr0ball

[2019-02-19 05:04] pyr0ball commented on #2
[Tutorial on serial input basics](https://forum.arduino.cc/index.php?topic=396450)

[2019-02-21 19:47] pyr0ball opened #18 "Create an x-axis breakout board to replace x-gantry motor cover"
This is an enhancement on the FFC version boards that will introduce a replacement for the housing on the x-axis motor on Creality style gantries.

This housing typically holds the x-min endstop in place. The board will replace the housing covering the x-motor's drive gear, and will integrate the endstop and a breakout for the x-motor, while acting as a right angle turn for the FFC chain.

This wi

[2019-03-03 23:46] teemuatlut commented on #3
Hey I saw your project on reddit and browsed this github page for a bit. Is this issue still ongoing for you?

I spent a few minutes making changes and with the serial stuff taken out, I got it to 2426B of progmem and 47 of sram.
I suppose it might be possible to include the serial parser as well considering an empty sketch takes 382B and with `Serial.begin(9600);` added it increased to 1480B.

[2019-03-03 23:53] pyr0ball commented on #3
I'm actually migrating over to the ATSAMD21E series of MCU's after the beta testing is complete, which has enough memory not to need optimization (though that's not the main reason I'm switching).

Also serial + i2c are going to be required services in the post-beta versions.

I'm trying to keep the code and designs as easy to work with as possible so that other community members can futz around w

[2019-03-08 16:49] pyr0ball opened #19 "Rev.2.x.x Firmware Drops Duty Cycle to 0"
Expected behavior: The PWM duty cycle for VComp_Adj and V_Fol_Adj should be at or close to the desired values set in the parameters section

Actual behavior: They both drop to 0 on boot

I expect something with the logic I wrote isn't doing it's job right. Will require review

[2019-03-08 20:51] Svatevit commented on #19
It's "ADJ_COMP + (diffCompL / 4);"

Shouldn't it be more like "ADJ_COMP += (diffCompL / 4);"?

[2019-03-08 20:55] pyr0ball commented on #19
@Svatevit I'll give that a whirl, thanks!

[2019-03-08 21:03] pyr0ball commented on #19
Yep that did it!

I'm far to used to bash operators.

[2019-03-08 21:03] #19 closed, assigned to pyr0ball

[2019-03-08 21:06] pyr0ball opened #20 "Firmware Rev.2.x.x, Analog readings being displayed as 1.00 consistently. Not changing with PWM adjustment"
After fixing https://github.com/pyr0ball/pyr0piezo/issues/19 a new issue showed up, which is that the analog reading serial output is only showing 1.00 regardless of the actual output.

Probing shows 3.84v and 4.22v on V_FOLLOW and VComp respectively

[2019-03-08 21:21] Svatevit commented on #20
Try Serial.println(VCompRef,2);

[2019-03-09 08:03] pyr0ball commented on #1
Implementation fixed in https://github.com/pyr0ball/pyr0piezo/commit/2297f152071bde9b9c72eb6032e626e3b168ec5c

[2019-03-09 08:03] #1 closed, assigned to pyr0ball

[2019-03-09 08:04] pyr0ball commented on #12
Fixed in https://github.com/pyr0ball/pyr0piezo/commit/79da9c6468af9ee90bc09aca5c1727b394169f21 and https://github.com/pyr0ball/pyr0piezo/commit/070bef876b96773af2c13c0505ce141b0b537d15

[2019-03-09 08:04] #12 closed, assigned to pyr0ball

[2019-03-09 08:07] pyr0ball commented on #15
Confirmed this method works on breadboard testing. Implemented for Rev.2.x+

[2019-03-09 08:07] #15 closed, assigned to pyr0ball

[2019-03-09 08:09] pyr0ball commented on #16
Confirmed this method works on breadboard. Implemented for Rev.2.x+

[2019-03-09 08:09] #16 closed, assigned to pyr0ball

[2019-03-09 08:12] pyr0ball opened #21 "Migrate from AVR to ARM (ATSAMD21E Cortex-M0+)"
Migration from AVR to ATSAMD MCU will allow for onboard USB for debugging, firmware update, and parameter configuration, as well as incorporating a vastly increased operation speed, and hardware DAC output.

[2019-03-09 08:14] pyr0ball opened #22 "Configure MCU for i2c slave device"
Setting the sensor up as an i2c slave will allow to accept input form 3d printer controller as a peripheral device without needing to tie up a UART connection

[2019-03-27 04:13] klcjr89 commented on #22
Have you considered doing a Kickstarter? I really would love to buy one of these boards, as I don't have the time to get the PCBs made and gather the components. I think your product would be the best one of all of the auto bed leveling options out there.

[2019-03-27 14:40] pyr0ball commented on #22
@klcjr89

It's definitely on my radar, but I want to get the beta (Rev.2.x) finished and validated, and at least start on the firmware for the migration to ARM before I start any crowdfunding, as I want to be sure I can deliver a working product without that usual 3-years-later hooey that usually happens.

I also have a ton of documentation to do, but that's getting worked on in between other deve

[2019-03-27 14:59] klcjr89 commented on #22
I have alot of 3D printing experience, so I would be interested in a beta unit; I can't seem to be able to join the Discord however, it's not working. I recently launched a Kickstarter myself that ends today: https://www.kickstarter.com/projects/1536120962/pei-coated-flex-plate-system-for-3d-printers/

I think the piezo would be the best probe to use on my surface.

[2019-03-27 15:30] Taylor-Kun commented on #22
You did a great job on that kick-started video!

On Wed, Mar 27, 2019, 8:00 AM klcjr89 <notifications@github.com> wrote:

[2019-03-27 15:33] klcjr89 commented on #22
@Taylor-Kun Thank you for that, but the credit goes to my videographer. He did a professional job.

[2019-03-27 16:52] pyr0ball commented on #22
@klcjr89 try this link: https://discord.gg/RSuKj7

looks like your kickstarter is doing exactly what I did on my CR-10 but with better magnets. Definitely a fantastic idea. I might even be able to integrate this sensor with your idea if cavities are created in the mount

[2019-04-17 18:04] pyr0ball commented on #18
Rev.2.0.1 FFC chain includes this board

[2019-04-17 18:04] #18 closed, assigned to pyr0ball

[2019-04-17 18:05] pyr0ball commented on #5
Path of least resistance seems to be to stack multiple boards. Single FFC would not be able to carry enough current

[2019-04-17 18:05] #5 closed, assigned to pyr0ball

[2019-04-17 18:23] pyr0ball opened #23 "Rev.2.x.x - Switch ADC polling to use internal vRef"
Currently the firmware logic doesn't directly account for the VCC input voltage of the circuit, but instead polls only the amp circuit for adjustment data. This has shown to cause instability with the voltage adjustment output.

Switching on the internal vRef and getting VCC polling will allow the ADC logic to be more precise and anticipatory of voltage fluctuations, without getting the big swings

[2019-04-17 19:19] pyr0ball opened #24 "Add software hysteresis and reduce analog adjustment adjustment increments"
The current PWM DAC output swings between voltages wildly due to inaccuracies with the ADC inputs, and because of #20 where the internal vRef is not being utilized.

On current Rev.2.0.1/2.1.0 hardware, this issue may be mitigated by reducing the increments that the ADC logic will attempt to adjust the PWM DAC output, as well as adding hysteresis.

Hysteresis can be added easily by subtracting an

[2019-04-22 07:34] foodbandlt commented on #20
Addressed in #25 if you want to re-enable those debug variables in the future.  Each line of Serial.println takes a crazy amount of flash (up to 4% each in some cases) on the ATmega88.  Crazy.

[2019-04-23 16:46] pyr0ball commented on #24
Additions created which helped the behavior on breadboard/bench testing, but not with the Atmega88pa and Rev.2.0.1 production board. Closing as an added enhancement, will open a new ticket for the actual bug

[2019-04-23 16:46] #24 closed, assigned to pyr0ball

[2019-04-23 16:51] pyr0ball opened #26 "Firmware Rev.2.x.x - PWM outputs oscillate randomly without settling on correct voltage"
This behavior was observed on the bench testing platform (using an Atmega2650) until hysteresis and a few other enhancements were added in #24.

Currently those enhancements have not yielded the same results on the Rev.2.0.1 production boards. Screencap of the current PWM output behavior:
![image](https://user-images.githubusercontent.com/8482805/56600227-0dfddf80-65ad-11e9-950b-9cf10d493987.png)

[2019-04-23 16:54] pyr0ball commented on #23
Switching over to the internal VRef will require hardware changes:

- ADC inputs need to be stepped down to 1.1v max, necessitating the addition of a voltage divider for each ADC input
- ARef pin needs to be decoupled with an additional capacitor (100pF - 0.1uF)

[2019-04-23 16:55] pyr0ball commented on #22
Deleted off-topic comments

[2019-04-23 16:56] klcjr89 commented on #22
☹️

[2019-04-23 16:59] pyr0ball commented on #20
@foodbandlt actually could you take another look at it after the merge? Notepad++ on one of my systems was badly configured and may have overwritten some of the whitespace fixes you did, and I had to manually merge, so I could have accidentally deleted that part

[2019-05-14 21:04] pyr0ball opened #27 "Add automated thermal compensation control"
As higher temperatures cause a reduction in the effective output of piezo elements, when the sensor is used in an under-bed configuration, the gain of the input must be increased to compensate. As this temperature can be variable, the sensor needs to be able to detect the change and compensate automatically.

This can be accomplished in a few different ways:

 - Direct user input
 - Onboard therma

[2019-05-20 17:38] pyr0ball opened #28 "Separate trigger duration output and trigger reset delay"
Currently the trigger output pulse tied to the piezo interrupt function is partially governed by the delay length of the main loop function. I believe this may be part of what's causing the auto bed level on the Monoprice Delta Mini to prematurely trigger on the second tap. To fix it, I need to separate the actual pulse length out from the loop delay duration, and make sure there are some checks i

[2019-05-24 16:34] pyr0ball opened #29 "Separate definitions and functions for better code hygiene"
As this project has grown in complexity, the main program file has started getting a bit cluttered. It's getting past time to follow other project standards and make use of cpp and h files for storing variables and functions

[2019-06-11 01:07] #28 closed, assigned to pyr0ball

[2019-06-11 04:26] pyr0ball commented on #29
fixed in https://github.com/pyr0ball/pyr0piezo/commit/6567b50ddb28a442ffb91b8246665ba934dafa0f

[2019-06-11 04:27] #29 closed, assigned to pyr0ball

[2019-06-26 17:37] pyr0ball opened #30 "Create proper library filestructure"
When I started on https://github.com/pyr0ball/pyr0piezo/issues/29 I basically just separated out the functions and variables into separate files to avoid needing to scroll so much, but I added things in a wonky way. The code needs some revisiting and I'll need to rebuild some of the structure into a proper library so other devs can use it for their firmware if needed

[2019-06-26 18:53] pyr0ball opened #31 "Eliminate floats for code optimization"
Eliminating floats from the code will free up roughly 30% of the flash. Currently floats are only used for setting voltage levels. This can be converted to millivolts to eliminate the need for floats.

[2019-06-26 19:32] pyr0ball opened #32 "Add logic to automatically adjust thresholds for 3.3v operation"
Currently the initial voltage thresholds set in the firmware are assuming a 5v input. Upon boot, the controller should sense Vin, and adjust thresholds lower if Vin is below a certain threshold

[2019-06-27 08:14] #26 closed, assigned to pyr0ball

[2019-06-27 08:14] #20 closed, assigned to pyr0ball

[2019-06-27 08:14] #23 closed, assigned to pyr0ball

[2019-06-27 08:15] #31 closed, assigned to pyr0ball

[2019-09-25 16:37] pyr0ball commented on #32
fixed in f745940904f9e4af4e9a75ff3ffe168a2518b4d0

[2019-09-25 16:37] #32 closed, assigned to pyr0ball

[2019-09-25 16:38] #30 closed, assigned to pyr0ball

[2019-09-25 16:39] pyr0ball commented on #11
fixed

[2019-09-25 16:39] #11 closed, assigned to pyr0ball

[2019-09-25 16:39] pyr0ball commented on #3
Closing as the firmware has definitely reached a point where 4K will never be enough

[2019-09-25 16:39] #3 closed, assigned to pyr0ball

[2019-09-25 16:40] pyr0ball commented on #2
Serial Input has been established, some changes may be required in future but another issue can be opened for those

[2019-09-25 16:40] #2 closed, assigned to pyr0ball

[2019-09-25 16:48] pyr0ball opened #33 "[FR] Need to add a function or sub-program to calibrate the Atmega internal reference"
**Is your feature request related to a problem? Please describe.**
The method used to sense Vcc relies on the internal 1.1v reference built into the Atmega core. There's minor drift in voltage between IC's

**Describe the solution you'd like**
This can be compensated for in the software by changing the "voltMeterConstant" variable.

Currently this can only be set by changing the constant value in

[2019-09-25 23:29] pyr0ball commented on #33
Basic function to allow user input added in https://github.com/pyr0ball/pyr0piezo/commit/9e885f316effc105f29027d1b859969f77477851

[2019-10-11 02:26] foodbandlt opened #39 "[FR] Add board revision to silkscreen"
Having the board revision silkscreened on the board will make guessing the board revision from the schematics a thing of the past.  Although I do enjoy going through all of the revision schematics, this is probably necessary.

[2019-10-11 03:41] #39 closed, assigned to pyr0ball

[2019-10-11 18:14] pyr0ball opened #40 "[FR] Add website URL to board silkscreen"
**Is your feature request related to a problem? Please describe.**
Currently the only branding on the board is the logo. A website would help users find documentation and support if needed

**Describe the solution you'd like**
add docs.pyroballpcbs.com to the silkscreen

**Additional context**
Originally suggested by maxcom

[2019-10-11 18:17] pyr0ball opened #41 "[FR] Add documentation explaining SJ1 solder bridge"
**Is your feature request related to a problem? Please describe.**
Currently SJ1 is only needed for instances when the end-user is supplying <6vDC to the EasyPiezi board.

**Describe the solution you'd like**
 Documentation about what it's for, why and when to use it, and how to use it should be added to the documentation site

**Additional context**
Originally suggested by maxcom

[2019-10-11 18:20] maxcom commented on #41
I have no idea why you mentioned me here.

[2019-10-11 18:21] pyr0ball opened #42 "[FR] Define "UP" or relative position of the board for documentation"
**Is your feature request related to a problem? Please describe.**
Some users reported confusion as to which orientation of the board is being used when describing features or connections

**Describe the solution you'd like**
Add an explanation and diagram to the docs site defining the usual board orientation.

**Additional context**
Originally suggested by maxcom

[2019-10-11 18:23] pyr0ball commented on #41
@maxcom My apologies, you have the same username as one of my beta testers under a different platform. I just realized this and removed the links

[2019-10-11 18:29] pyr0ball opened #43 "[FR] Add Piezo Disk soldering guide to docs site"
**Is your feature request related to a problem? Please describe.**
Since the beta kits were shipped using bare piezo disks, end-users will need to solder their own wires to it.

**Describe the solution you'd like**
Need to add a guide on how to do this to the documentation site, either with images or a video.

**Additional context**
Originally suggested by maxcom

[2019-10-11 19:29] pyr0ball opened #44 "[FR] Add documentation regarding the integrated PT100 daughterboard"
**Is your feature request related to a problem? Please describe.**
Currently there is no documentation on the PT100 sensor integration

**Describe the solution you'd like**
Create documentation for:
 - PT100 circuit diagrams
 - Hookup guides
 - General explanation of how it works

**Additional context**
Originally suggested by maxcom

[2019-10-11 23:06] pyr0ball opened #45 "[FR] Need documentation explaining what each config parameter does"
**Is your feature request related to a problem? Please describe.**
Currently there's no available documentation explaining what effects changing each parameter over serial will do

**Describe the solution you'd like**
Need a detailed document describing each parameter, what it's effects are, and what implications it has for the sensor behavior

[2019-10-14 20:18] AlmightyFrog opened #46 "[FR] PCB pin compatible with arduino nano"
**Is your feature request related to a problem? Please describe.**
Custom tailored boards are hard to get.

**Describe the solution you'd like**
A solution would be to separate generic microcontroller part (e.g. use arduino nano) from specific part (LM2902 opamp).
This can be achieved by using DIP components on either breadboard or better simple PCB.

**Describe alternatives you've considered**
An

[2019-10-14 21:00] pyr0ball commented on #46
@AlmightyFrog I'd be happy to put together a layout like this if you want to make your own. Is there a particular MCU dev board you have in mind?

The current methodology will likely stay the same going forward, but when I switch over to the ARM/CortexM0 MCU's the circuit will likely be a bit simplified as the SAMD21 MCU I plan to use has a number of hardware peripherals that can eliminate the nee

[2019-10-16 07:20] AlmightyFrog commented on #46
I find this project apealing and would like to test it at some of my printers, but it would be hard to get the specialised boards which also can't be easily extended.

I've had a look at some easy and widely available boards and came to the conclusion, that the Arduino Nano (see features and schematics at https://store.arduino.cc/arduino-nano) would be most likely the best choice.

It is:
- easy t

[2019-10-16 16:32] pyr0ball commented on #46
@AlmightyFrog with regards to the switchover to SAMD21, there's several reasons for doing that beyond the reduction in components:
- Futureproofing. The AVR chips are probably going to be around for a while yet, but the ARM chips are getting a lot more popular and nearly as cheap. I ended up landing on the SAMD21 because it actually costs less than the 328pb I currently use in my custom boards.
-

[2019-10-21 09:09] AlmightyFrog commented on #46
@pyr0ball
Thanks for mentioning Arduino Zero, I was not aware about that one. Still more expensive than an "first gen" Arduino board, but i guess availability is then no issue.
Only I don't get why you then not go for something like a STM32. They're available in a wide range and are powerful, too.
Even the STM32F103 which you get on the "Blue Pill" boards already have an Cortex M3 @72 MHz (not sur

[2019-10-21 18:15] pyr0ball commented on #46
@AlmightyFrog

Re: SAMD21 vs STM32: For this project, the actual amount of processing power required is very low, since most of the MCU involvement is just balancing the circuit, so having an M3 would be waaaaay overkill. The SAMD21E that I plan to use was down in the ~$1.35 range when I started speccing it out (bare IC) compared to the STM's which were closer to $2.30+. There's a followup project

[2019-10-25 17:32] klcjr89 opened #47 "[BUG] Ready light doesn't turn green upon power up unless piezo is manually tapped."
**Describe the bug**
The ready light on the 2.1.0 beta board doesn't light up unless the piezo element is first tapped.

**To Reproduce**
To reproduce the behavior, the printer is first turned on, the beta board then boots up and ready light flashes, and then remains off until a tap on the piezo element by a finger causes the green light to light up and remain lit and ready to use for a homing or

[2019-10-25 17:39] pyr0ball commented on #47
Confirmed. This is behavior I've seen on all the 2.1.0 boards I put together but only became apparent in firmware v2.1.3+ IIRC.

@loredan or @foodbandlt just want you guys to be aware as well so if you come across anything in code that might explain that you can let me know. I'm assuming it's something to do with the setup function, *or* there may be a capacitance issue that needs correction in th

[2019-10-25 17:48] klcjr89 opened #48 "[FR] Detect if no piezo element is plugged in to the PCB header."
**Is your feature request related to a problem? Please describe.**
Feature request is not directly related to problem #47, but it would potentially save people from crashes if a piezo wire gets broken or element damaged.

**Describe the solution you'd like**
Upon powerup, the piezo board can interrogate the PCB header where the piezo element plugs into to see if anything is attached. This would be

[2019-10-25 17:52] pyr0ball commented on #48
Detecting a piezo disk plugged in is very doable, but it may not be possible to detect whether the disk is damaged. Being able to halt the system if the piezo becomes unplugged is definitely a required safety feature I believe, however.

No polling should be required when using interrupt pins. I'll set up one of the unused pins as a pullup input, and have that get pulled to ground when the piezo i

[2019-10-25 18:51] loredan commented on #47
I have encountered this problem, but not sure about the cause yet

As a side note, we really should set up a naming convention for these LEDs, so we are not calling them "green" or "ready", but rather something like "power", "warning", "trigger" and "inverted trigger". It's especially important in case of mismatched colors

[2019-10-25 18:55] pyr0ball commented on #47
@loredan that's especially true as I mixed two batches of RGB 0606's in my container and apparently the colors are rearranged between them.

[2019-10-25 18:55] klcjr89 commented on #47
I called it a ready light since the silksceen layer appears to show as RDY. :) Ready layer one.

[2019-10-25 19:19] pyr0ball commented on #47
@klcjr89 That's exactly right, but each of the RGB LED's channels correspond to a different function.

At the moment on the Rev.2.1.0's that got sent out:
Red= Power (Vcc input is high)
Green= Calibration Alert
Blue=Trigger (which appears to not be working correctly. Fixing it in 2.2.0)

[2019-10-25 19:20] pyr0ball commented on #48
Created new board revision v2.2.x for this feature, as it requires changing a header and attaching a new pin to the MCU

[2019-10-25 19:21] klcjr89 commented on #47
Oh! had no idea there was a blue led in there too; nice!

[2019-10-26 00:24] pyr0ball commented on #47
@klcjr89 ok I figured out the issue

Back in v1.x.x firmware, I wasn't using a task scheduler and the reset of the trigger was handled by the main loop. Now it's handled by the interrupt function.

Here's the fun bit. on boot, the trigger LED blinks several times in order to indicate it's starting up, and it's done via inverting a pin by a count which is doubled in the setup function, which makes

[2019-10-26 01:17] foodbandlt opened #49 "[BUG] Serial input appears to be ignored if VERBOSE is not defined"
**Describe the bug**
Title

**To Reproduce**
* Comment VERBOSE out
* Try to send something over Serial In that would have some output, like CONFIG
* There is no response

**Expected behavior**
MCU should send something back over Serial Out, like the current config

**Pyr0-Piezo (please complete the following information):**
 - Pp Version: EasyPiezi
 - Board Revision: [e.g. Rev.2.1.2]
 - Firmware V

[2019-10-26 04:17] pyr0ball commented on #49
Confirmed, I've seen this behavior since 2.1.4, but assume it was due to my programmer being broken.

[2019-10-27 23:50] pyr0ball commented on #47
fixed in https://github.com/pyr0ball/pyr0piezo/commit/f8efc3d192da328ebaa0f9038c133dedaf4f9d0a

[2019-10-27 23:50] #47 closed, assigned to pyr0ball

[2019-10-28 00:01] pyr0ball commented on #49
Only partially fixed, still missing serial feedback while typing

[2019-10-28 01:22] pyr0ball opened #50 "[FR] Automated environment installer"
**Is your feature request related to a problem? Please describe.**
Currently every contributor / user has to set up their own build environment if they want to modify the firmware. This is not easy for many people.

**Describe the solution you'd like**
A script, either interactive or entirely automated, would go a long way in synchronizing these environments

**Describe alternatives you've conside

[2019-10-28 06:20] loredan commented on #49
I still think that feedback is not strictly needed, most serial terminals I've used have feedback built in, just disabled by default

[2019-10-28 15:28] pyr0ball commented on #49
It's different to every implementation I've ever used, but honestly I just can't figure out how it got disabled, even after reading through the code again

[2019-10-28 18:28] loredan commented on #49
Not sure it ever was there, at least I don't see anything resembling echo in code prior to my changes

[2019-10-29 10:42] AlmightyFrog commented on #46
I've got the free license version of eagle now and had a look at the DIY-Standalone board.

Looks promising, would be fine for fabrication but for home etching/isolation routing it is a game of luck whether the wires "through" the pads of a resistor work or not.
Also soldering (as there is no mask) is then harder. The only point that would not work out most likely is your VCOMP_PWM going through t

[2019-10-29 16:16] pyr0ball commented on #46
@AlmightyFrog I use a managed library that's attached to my account. It allows me to utilize the Push to Fusion 360 with part models as well as make edits to footprints and such.

I'll do some research on how to make that managed library accessible publicly

Edit: Looks like they only [recently added functionality for this](https://forums.autodesk.com/t5/eagle-forum/sharing-managed-libraries/td-p/

[2019-10-29 16:20] pyr0ball opened #52 "[FR] Add Eagle Managed Library to Repo"
**Is your feature request related to a problem? Please describe.**
Currently the parts library used in this project is attached to my personal Autodesk account, and not publicly accessible

**Describe the solution you'd like**
Eagle recently added functionality allowing "shared folders" including managed libraries. Will need to work on integrating this into the project

[2019-10-29 16:35] pyr0ball commented on #52
I've opened a [forum post on Autodesk's site](https://forums.autodesk.com/t5/eagle-forum/with-introduction-of-quot-shared-folders-quot-can-we-have-a-quot/td-p/9115229) requesting a public share option. Currently it is only possible to share managed libraries via Autodesk accounts, meaning each user/contributor needs to get an email invite from the folder owner to get access

[2019-10-29 21:18] klcjr89 opened #54 "[BUG] RESET config doesn't save back to EEPROM"
**Describe the bug**
Sending RESET via a serial terminal resets the config values, but does not store them back to EEPROM, so on the next powerup, the values are not correct.

**To Reproduce**
Steps to reproduce the behavior:
Issue RESET via a serial terminal with 9600 baud rate.

**Expected behavior**
I expected the RESET method to execute and then store the entire config back to EEPROM.

**Pyr0-

[2019-10-29 22:47] #54 closed, assigned to pyr0ball

[2019-10-29 22:56] pyr0ball commented on #49
@foodbandlt @loredan After our testing today, I've not been able to replicate the behavior with the `VERBOSE` flag. I'm assuming it was related to the VSCode environment settings I used when compiling and flashing the beta units I sent out. The issue with feedback is still present, but the board does accept serial input with or without the flag mentioned in this issue. Closing for now

[2019-10-29 22:56] #49 closed, assigned to pyr0ball

[2019-10-30 00:22] pyr0ball opened #56 "[BUG] For VFOL and VCOMP input, parameters don't take immediately"
**Describe the bug**
When sending new configuration parameters over UART, the user either needs to send the command twice, or wait for a period of time (roughly 4-5 minutes) before the new parameter will be reflected in the board's behavior. If the board is reset, using the reset pin and not just power loss, these two parameters get 0'd out and will not work again til that delayed execution time i

[2019-10-30 03:18] klcjr89 commented on #54
Issue is still present even after downloading latest code and reflashing

[2019-10-30 05:03] klcjr89 commented on #54
Fixed in PR #57

[2019-10-30 17:07] pyr0ball commented on #56
Fixed in #57

[2019-10-30 17:07] #56 closed, assigned to pyr0ball

[2019-11-13 01:03] pyr0ball opened #61 "[FR] Add support for either active high or active low logic"
**Is your feature request related to a problem? Please describe.**
Back in #17 we switched the probe to having active low logic (following the endstop standard) however, many boards that have a dedicated "probe" input seem to have a hardware pullup resistor attached to the logic pin. This means that (with the current scheme of trigger logic) even if the probe board is disconnected, the trigger log

[2019-11-25 21:25] ETE-Design opened #62 "[MOUNT] ADIMLab Gantry-S"
**Is your printer similar to any that currently already have support?**
Like the Ender-3 Just a smaller cover / fan also screws to hold it is on the top

**What mounting scheme do you plan to use?**
Choose between: On-Printhead

[2019-12-02 22:28] pyr0ball commented on #62
@ETE-Design Any chance there are sources or models for the gantry carriage?

If not, I'll need to get one or have you take measurements (or make a dummy model if you're capable)

[2019-12-02 22:43] ETE-Design commented on #62
@pyr0ball Sorry, no models aviable :-( But can take pictures, and deliver all the messurements you need :-) BTW. Is it possible to get a sample, cause I have the only rights to sell the Gantry-S in EU :-)

[2019-12-03 17:45] pyr0ball commented on #62
@ETE-Design The boards are still very much in beta, so if you don't mind working with an unproven board, I can work that out with you. DM or @ me on the discord and I'll coordinate with you.

re: mount design, pics with measurements is a good start. Any chance we could reach out to the manufacturer for a 3D model? That would make the process a lot easier and faster.

[2019-12-05 22:04] pyr0ball commented on #62
First draft of the mount for this model has been posted: https://a360.co/34VN7gC

[2019-12-31 23:50] pyr0ball commented on #61
fixed in a9d9288

[2019-12-31 23:50] #61 closed, assigned to pyr0ball

[2019-12-31 23:51] pyr0ball commented on #48
added in a9d9288

[2019-12-31 23:51] #48 closed, assigned to pyr0ball

[2019-12-31 23:55] pyr0ball commented on #6
Closing this as it will be ongoing and new issues should be created for individual platforms

[2019-12-31 23:55] #6 closed, assigned to pyr0ball

[2019-12-31 23:55] pyr0ball commented on #4
closing, added a long time ago

[2019-12-31 23:55] #4 closed, assigned to pyr0ball

[2020-01-17 06:50] pyr0ball commented on #40
resolved in board rev 2.2.0

[2020-01-17 06:50] #40 closed, assigned to pyr0ball

[2020-01-17 06:52] pyr0ball commented on #27
While this feature is good in theory, in practical use-cases, it's much easier to keep the piezo element away from heating elements that will effect it. From my research, after a piezo element experiences enough heat to cause it's output profile to change, the effect is mostly permanent, which would require either a one-time manual adjustment, or a replacement piezo element.

[2020-01-17 06:52] #27 closed, assigned to pyr0ball

[2020-01-29 20:03] Afteraffekt opened #66 "[FR]Reprap 2 and 3 Configuration"
Rerap 2 and 3 firmware configuration data missing.

[2020-01-29 20:16] pyr0ball commented on #66
👍 Will get documentation written once I have a chance to review with one of the beta testers who uses RepRap

[2020-02-05 21:39] Afteraffekt opened #67 "[FR]5v and 3.3v option using LM317"
LM317 should only take an extra pin. Check to see if it can be fit into the existing footprint.

[2020-02-05 21:50] pyr0ball commented on #67
Using a combination of 3x resistors with an LM317, voltage adjustment can be made by switching a pin on the MCU from INPUT (high impedance) to OUTPUT-LOW, on the R2 side of the voltage divider used to set the regulator's output.

Will do research on parts cost

[2020-02-28 03:20] notacoat opened #69 "[MOUNT] Railcore II ZL/ZLT"
**Is your printer similar to any that currently already have support?**
HEVO

**What mounting scheme do you plan to use?**
on print-head

**Additional context**
Corexy printer
Fusion model for printer on this page along with other info.  https://railcore.org/hardware/

[2020-02-28 19:03] pyr0ball commented on #69
Thanks for putting that request in! I've already started working on an under-bed solution for this printer. It will require adding a "padding" material between the bed plate and the Z Yokes, like a rubber or felt grommet, or a compact spring perhaps.

![image](https://user-images.githubusercontent.com/8482805/75578844-7b726c00-5a19-11ea-9273-6ed3147db7a5.png)
https://a360.co/39bEYqz

If desired, I

[2020-02-28 20:31] notacoat commented on #69
This works! Thanks!

[2020-02-28 21:05] pyr0ball commented on #69
I've added a rubber grommet as well as a small printed piece to assist with actuation:
![image](https://user-images.githubusercontent.com/8482805/75587232-de203380-5a2a-11ea-9862-bf7837891020.png)

![image](https://user-images.githubusercontent.com/8482805/75587288-fdb75c00-5a2a-11ea-8d02-7a2d04093996.png)

[2020-02-28 21:11] pyr0ball commented on #69
@notacoat I realize you'll probably need boards to test this integration method. Are you comfortable coordinating over Discord for that?

Do you want to procure your own boards or have me send you some?

For this integration, you'll need 1x EasyPiezi V2.2.0 or later, and 3x of the SingleDisk Adapter boards.

I'm happy to keep this issue open til you've tested it, but you can close it any time if y

[2020-02-29 05:42] notacoat commented on #69
@pyr0ball hey, I’d love to help out w testing, but I’m super busy at the moment and won’t have time to at least for a couple weeks.  If you pop into the Railcore discord, there would be a lot of interest in, I bet

[2020-03-05 05:26] pyr0ball commented on #69
@notacoat awesome, thanks for the tip!

[2020-04-27 20:43] pyr0ball commented on #22
Fixed in #70 and merged into `develop`

[2020-04-27 20:43] #22 closed, assigned to pyr0ball

[2020-05-10 22:18] #67 closed, assigned to pyr0ball

[2020-05-10 22:18] #33 closed, assigned to pyr0ball

[2020-05-13 05:47] pyr0ball commented on #41
Completed in c2c6e6e

[2020-05-13 05:47] #41 closed, assigned to pyr0ball

[2020-05-13 08:40] pyr0ball commented on #45
Added, closing

[2020-05-13 08:40] #45 closed, assigned to pyr0ball

[2020-05-29 23:28] stmcculloch opened #73 "PP_VERSION not defined"
Firmware only compiles in the arduino IDE when I add:

`#define` PP_VERSION 230`

at the top of
"Pyr0_Piezo_Sensor_v2.x.x.cpp"
and
"pP_i2C.cpp"

[2020-05-29 23:31] pyr0ball commented on #73
This tends to happen when compiling using Arduino IDE or other methods than PlatformIO, or if the user doesn't have python installed and available via the system PATH

There should be an `#ifndef` field to handle this cleanly

[2020-06-05 18:44] pyr0ball opened #74 "[FR] Add motor stall detection to FFC cable chain"
As we're already introducing an MCU nearby the stepper motors, it wouldn't be too difficult to implement a current monitoring circuit that could be tuned to detect stalls and jams.

The circuit would simply need a small-value resistor, or even a serpentine trace with a known resistance, and two ADC pins, or a differential amp circuit and one ADC pin, to detect current spikes, which could then be r

[2020-06-05 18:47] pyr0ball opened #75 "[FR] Add E-Mot header to FFC-X-Mot board"
Currently the FFC cable chain only supports Direct Drive extruders (on-head), but it would be fairly trivial to add a second stepper header to the X-Motor board to allow users to utilize the same PCB for extruder steppers that live on the same mount as the X-Motor (as in the Creality Ender3/CR-10 family)

[2020-06-15 18:41] #73 closed, assigned to pyr0ball

[2020-06-15 18:51] pyr0ball commented on #73
Fixed in 4c7ab3e

[2020-06-24 20:05] stmcculloch opened #76 "-f upload flag in platformio.ini [BUG]"
In line 43 of platformio.ini:

`-fmax_errors=5`

is not understood by avrdude.

There doesn't seem to be a -f flag in the avrdude docs: https://www.nongnu.org/avrdude/user-manual/avrdude_4.html

![image](https://user-images.githubusercontent.com/9290784/85621803-b0cf4500-b61a-11ea-9303-57d5a1f5b340.png)

[2020-06-24 21:26] pyr0ball commented on #76
Looks like we left in a gcc flag in that environment table. Just needs to be removed. I'll take care of it shortly

[2020-07-06 18:34] #76 closed, assigned to pyr0ball

[2020-10-30 07:34] Zero-Grav opened #79 "[FR]Klipper-config.md Lost?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-30 07:36] Zero-Grav opened #80 "[MOUNT]Voron2.4or1.8orZero"
**Is your printer similar to any that currently already have support?**
Core xy

**What mounting scheme do you plan to use?**
On-Printhead, Under-Bed, Gantry-Mount, All can

**Any existing mounts with public links?**
https://vorondesign.com/
**Describe alternatives you've considered**
iR
**Additional context**

[2020-10-30 07:38] Zero-Grav opened #81 "[FR]BIGTREETECH-SKR-V1.3 How to install it？"
**Is your feature request related to a problem? Please describe.**
Wiring Diagrams for BIGTREETECH-SKR-V1.3.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screens

[2020-10-30 08:02] pyr0ball commented on #79
I need s bit more info to go on here. If you're requesting a firmware configuration page for Klipper, there's nothing special about it as of yet, just set the input pin and zero offsets. Once Klipper introduces menu options for configuring the sensor, and there's gcode around it, I'll flesh out a full page on it.

[2020-10-30 08:03] pyr0ball commented on #80
@Zero-Grav please edit this request and fill out each section fully

[2020-10-30 08:03] pyr0ball commented on #81
@Zero-Grav please edit this request and fill out each section fully

[2020-10-30 08:25] Zero-Grav commented on #79
Thanks for your answer.
So this thing can only be used as a Z endstop in the klipper？

[2020-10-30 11:25] pyr0ball commented on #79
It can be used as a probe as well, you just won't be able to configure the sensor's settings through Klipper till they add support for that.

This is veering off a bit into support territory, so if you need help with getting a piezo sensor set up, you should reach out through the Discord channel or the support email: support@pyroballpcbs.com.

[2020-11-18 01:51] DarkTerritory opened #82 "BLV MGN Cube (CoreXY type) under bed"
**Is your printer similar to any that currently already have support?**
It may be similar to one of the existing CoreXY designs, but the mounts are different

**What mounting scheme do you plan to use?**
Under Bed

**Any existing mounts with public links?**
Unknown. I can supply photos of the existing mounts if that helps.

**Describe alternatives you've considered**
Unknown

**Additional context*

[2021-04-08 17:40] garyriet opened #83 "Board burned out"
Good morning
I was working with my board and it blew out. Was running 9v thru it

[2021-04-09 15:12] pyr0ball commented on #83
@garyriet could you provide a little more detail about what happened and how?

[2021-04-09 16:14] garyriet commented on #83
I was testing the board connected to a buck converter set to 9v dc which was connected to my external power supply 13.8v dc.   All voltage measured using a fluke 87 multimeter. Connected board to power and to 4 27mm piezo discs.
Turned power on and was testing for about 5min when I smelled burning, shut power off and found the smell was originating from the board.  Discounted board and measured po

[2021-04-09 21:14] pyr0ball commented on #83
Can I see a picture of the wiring harness (with pins annotated if possible), as well as a high-res photo of the top of the EzPz board?

[2021-04-09 22:37] garyriet commented on #83
![image](https://user-images.githubusercontent.com/65049811/114247216-9294c480-9962-11eb-91b1-69de982bfa74.jpeg)

[2021-04-09 22:37] garyriet commented on #83
![image](https://user-images.githubusercontent.com/65049811/114247229-9aecff80-9962-11eb-905a-86949dd4395f.jpeg)

[2021-04-09 22:37] garyriet commented on #83
![image](https://user-images.githubusercontent.com/65049811/114247242-a17b7700-9962-11eb-976c-f6e4c613d502.jpeg)

[2021-04-09 22:37] garyriet commented on #83
![image](https://user-images.githubusercontent.com/65049811/114247252-a809ee80-9962-11eb-8462-33b799432ba1.jpeg)

[2021-04-10 04:02] pyr0ball commented on #83
Thanks for sending a bunch of angles, that really helps!

can I see where this is being plugged in on the controller side?
![image](https://user-images.githubusercontent.com/8482805/114257601-eceb5080-9975-11eb-98ad-a095cf0635f6.png)

[2021-04-16 18:14] pyr0ball commented on #83
just checking in to see if you still needed help with this?

[2021-04-16 18:20] garyriet commented on #83
Yes I do.  Sorry was busy with work.

Gary Rietmann
Cell: (609) 276-1559

Sent from my iPhone

[2021-04-16 18:42] pyr0ball commented on #83
@garyriet I've deleted your previous comment as it contained personal information. Please keep in mind that this is a public forum, and it's generally inadvisable to post contact information in a way that's visible to anyone (bot spammers included)

Can you read the above messages and get back to me about how the board was connected?

[2021-04-16 20:36] garyriet commented on #83
![image](https://user-images.githubusercontent.com/65049811/115081243-f45cad80-9ed1-11eb-9fd0-e441ae456f3d.jpeg)

[2021-04-16 20:37] garyriet commented on #83
It was connected in place of the precision piezo board with DuPont connectors

[2021-04-16 22:18] pyr0ball commented on #83
I'm really sorry to keep asking,  but I need a better idea of what you connected and where at both ends.

A simple drawn wiring diagram would be helpful, or a complete picture of the entire connection chain.

[2021-04-17 03:15] garyriet commented on #83
Sure I'll do a drawing morning

[2021-04-17 17:16] garyriet commented on #83
![image](https://user-images.githubusercontent.com/65049811/115121123-14967600-9f7f-11eb-8bfb-c642e7a643f4.jpeg)![image](https://user-images.githubusercontent.com/65049811/115121124-14967600-9f7f-11eb-882f-def2573ddfd1.jpeg)

[2021-04-17 17:16] garyriet commented on #83
Sorry I don't have Visio at home

[2021-04-20 18:22] pyr0ball commented on #83
That's perfectly alright @garyriet

I'll try and reproduce the issue and let you know what I find out

[2021-04-29 20:11] garyriet commented on #83
Any update?

[2021-04-29 23:06] pyr0ball commented on #83
Haven't been able to set up a rig to reproduce just yet, RealJob™ has been keeping me late a lot the last couple of weeks.

I've got an idea what might have caused it but need to try out your wiring scheme to confirm.

[2021-05-30 19:11] garyriet commented on #83
?? Any info?

[2021-06-01 20:20] pyr0ball commented on #83
Sorry for the delay, I haven't been able to spend any appreciable time in my lab since the pandemic began, and now that I can get back in, I've had a backlog of high-priority stuff keeping me busy.

Here's what I know so far: There's a red circle around the problem
![image](https://user-images.githubusercontent.com/8482805/120368967-89bbd180-c2c7-11eb-9be1-6d5a57b59dd3.png)

What you can see here

[2021-06-02 02:47] Tinchus2009 opened #84 "[MOUNT]"
**Is your printer similar to any that currently already have support?**
Please list any similar printers that already have Piezo mounts

Not that I know. My printer is a coreXY style, there is no info on the website, the page belonging to it it is empty

**What mounting scheme do you plan to use?**
Choose between: On-Printhead, Under-Bed, Gantry-Mount, or Other [if Other, please describe]

still n

[2021-06-02 02:51] Tinchus2009 commented on #66
Any update on this? I use reprap 3.X and I would like to have this docs

[2021-06-02 05:36] pyr0ball commented on #66
I don't currently have a reprap capable printer to test and make instructions with, but I'd be happy to include documentation if I can get some details about setup from someone who uses it more regularly.

One of my beta testers provided a little snip he used to set up his ezpz:
[code]

[2021-06-02 05:47] pyr0ball commented on #84
If you just want some ideas of how to implement on your printer, have a look at the Railcore integration: https://docs.pyroballpcbs.com/mounts/core-xy/railcore-ii/

Re: Heated chamber - Likely you'll start experiencing reduced sensitivity around 80°C, which generally can be compensated for using configuration. Above that, you'll need to enhance the piezo elements somewhat, either by increasing the

[2021-06-02 05:47] #84 closed, assigned to pyr0ball

[2021-09-29 18:15] svpcom opened #85 "[MOUNT] Ultimaker 2+"
**Is your printer similar to any that currently already have support?**
It similar to railcore-ii (core-xy geometry)

**What mounting scheme do you plan to use?**
I'll prefer Under-Bed, but I have some doubts about heat from bed (for ABS bed heated up to 100C when piezo sensor temperature limit < 60C) and vibration from bed when it do Z-moves.

**Any existing mounts with public links?**
N/A

**Des

[2021-10-03 05:33] pyr0ball commented on #85
If you can provide some CAD sources for the UM2 or your own printer, that will help speed the design process for this.

Underbed is how I would typically approach this kind of printer, and the lovely thing about Piezo probing is you don't necessarily need the piezo element pressed up against the hot parts. As long as mechanical force is applied when the nozzle touches the bed, it should work. Even

[2021-10-03 06:41] svpcom commented on #85
CAD files (hardware design for UM2+ is open-source):  https://github.com/Ultimaker/Ultimaker2ExtendedPlus

The table is on three springs, so I'm thinking of placing the piezo sensors underneath. Will the sensor work if it experiences constant spring pressure? That is, a bolt will pass through the drilled sensor, which tightens the spring on which the edge of the table rests.

When printing with ab

[2021-10-04 17:41] pyr0ball commented on #85
Yes assuming the polarity is correct, you can even pre-tension the piezo and pick up the "relief" motion if you hook it up backwards

You can certainly do this and make it work, but I don't recommend using drilled discs. You'll get much more consistent results by bending the disk across it's diametric center by allowing one side of the disk to be free moving, and the other statically mounted. [I b

[2021-10-04 18:04] pyr0ball commented on #85
I had a look, and I'm fairly certain a technique like [this one](https://www.thingiverse.com/thing:4836261) will work for the UM2

I'll get something knocked together when time permits!

[2021-10-04 23:00] svpcom commented on #85
@pyr0ball What do you think about using of ceramic piezo rings like that https://aliexpress.com/item/32871471778.html instead of piezo disks? I'm planning to pass bolts with springs via them.

[2021-10-05 06:27] pyr0ball commented on #85
The mechanical quality factor on those might be an issue, as I believe these are primarily used for ultrasonic transducers. If I'm making a correct assumption (cus I've never actually tried one of these) it would be kinda like trying to turn a gear reduction box from the output side.

I could be completely wrong about that tho, and now I know these exist at that price point I'm definitely gonna gr

[2021-10-05 15:00] pyr0ball commented on #85
@svpcom Here's a use-case very similar to the UM2 that's utilizing my SingleDisk adapters:
![image](https://user-images.githubusercontent.com/8482805/136048038-330d2e4c-c0cd-4ed9-b8e6-de98b4769841.png)
![image](https://user-images.githubusercontent.com/8482805/136048699-0b816804-5061-4a6c-ac24-99893fef215f.png)
![image](https://user-images.githubusercontent.com/8482805/136048739-dcd12d13-0bde-44ba

[2021-10-06 06:38] pyr0ball commented on #85
Started working on this, and it looks like there *are* mounting holes I can utilize on the UM2! What I don't know is whether they're threaded or not.
![image](https://user-images.githubusercontent.com/8482805/136053649-22e8886f-ebbc-4232-80bc-82f3f4a52ba1.png)

Can you confirm for me? If they're not threaded you'll likely need a nylock nut to keep them in place

[2021-10-06 08:10] svpcom commented on #85
They are not threaded. They are intended for the initial leveling of the table during assembly

[2021-10-06 15:23] pyr0ball commented on #85
do you think they could be used with a nylock nut on the other side?

Alternatively, I could design a mount intended to be used with some 3M adhesive tape (the wall mount kind) instead?

[2021-10-06 15:38] svpcom commented on #85
Yes, there are a lot of space between it and bed heater

[2021-10-06 16:01] pyr0ball commented on #85
Okipokey, I'll see what I can come up with, thanks for all the feedback!

[2022-03-29 12:05] calebols opened #86 "[MOUNT] E3D Hemera on Ender3"
**Is your printer similar to any that currently already have support?**
Please list any similar printers that already have Piezo mounts
I couldn't find any when searching google or specifically Thingiverse

**What mounting scheme do you plan to use?**
Choose between: On-Printhead, Under-Bed, Gantry-Mount, or Other [if Other, please describe]
I'd like to mount this to the printhead but I'm open to

[2022-03-30 04:33] pyr0ball commented on #86
With something like the Hemera, you'd probably be better off going with [the under-bed mount](https://www.thingiverse.com/thing:4836261) just due to the inertia involved with those extruder.

If you wanted it on-head still, I'd probably recommend switching to MGN rails to address the stability issues that might crop up

[2022-03-30 07:38] calebols commented on #86
Thank you for that...I'm not sure how I missed that link!  Unless it was because I had waaayyy too many tabs open while searching :).  I'll give the under-bed mounting a try and see how it goes.  Thanks again!

[2022-03-30 07:38] #86 closed, assigned to pyr0ball

[2022-03-30 17:14] pyr0ball commented on #86
You bet! If you find that doesn't work for you, feel free to reopen this ticket and I'll see if I can carve out some time